# --- GENERAL SETTINGS ---
PROJECT_NAME=n8n-worker-demo
GENERIC_TIMEZONE=Europe/Kyiv
TZ=Europe/Kyiv
N8N_ENCRYPTION_KEY=your-secure-key-change-me

# --- NETWORK ---
N8N_PROTOCOL=http
N8N_SECURE_COOKIE=false
N8N_PORT=5678
WEBHOOK_URL=http://localhost:5678/

# --- DATABASE (POSTGRES) ---
POSTGRES_USER=n8n_admin
POSTGRES_PASSWORD=n8n_secure_pass
POSTGRES_DB=n8n_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- QUEUE (REDIS) ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- QUEUE STORAGE ---
N8N_QUEUES_BULL_JOBS_MAX_AGE=1

# --- N8N PATHS ---
N8N_USER_FOLDER=./n8n/src
